<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>DataPreprocessor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" href="../static/home.css" >
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img class="navbar-brand" src = "../assets/dataProcessor.png" >
      <p class="navbar-brand">DataPreprocessor</p>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Analyze</a></li>
        <li><a href="#">Process</a></li>
        <li><a href="#">Visualize</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
        <form method = "POST" enctype="multipart/form-data" action = "/">
            <input class="form-control" type="file" name="file" accept=".csv">
            <br>
            <p style="color:green;">File Uploaded</p>
            <input class = "btn btn-info" type = "submit" value="Upload">    
        </form>
        <form action="/show_data" target="_blank">
            <br>
            <input  class = "btn btn-info" type="submit" value="Show CSV"/>
        </form>
        <form action="/show_head" target="_blank">
            <br>
            <input  class = "btn btn-info" type="submit" value="Show Head"/>
        </form>
        <form action="/get_data_description" target="_blank">
            <br>
            <input  class = "btn btn-info" type="submit" value="Data Description"/>
        </form>
        <form action="/get_column_analysis" target="_blank">
            <br>
            <input  class = "btn btn-info" type="submit" value="Column Analysis"/>
        </form>
</div>
